*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

:root{
    --title-color: rgb(229, 49, 112);
    --card-color:rgb(15, 14, 23);
    --link-color:rgb(53, 184, 236);
}



/*Stili Header*/
.container{
    width: 70%;
    margin: auto;
}

.header{
    color: var(--title-color);
    padding: 50px;
    font-size: 20px;
    text-align: center;
}

/*Stili Main*/
p{
    text-align: center;
}

/*Stili Cards*/
.cards{
    min-width: calc(100% / 3 - 30px);
    background-color:var(--card-color);
    display: inline-block;
    float: left;
    margin: 30px 15px;
    max-height: 700px;
}

.foto-profilo{
    width: 100px;
    margin-right: 10px;
    height: 100%;
}

.dati{
    display: inline-block;
    position: absolute;
    color: white;
    padding: 15px;
    float: left;
}

/*Stili Testo-cards*/

a{
    color:var(--link-color);
}

a:hover{
    color: white;
}

